
.capung {
    margin: 100px 20px;
}

.about-section {
    padding: 50px;
    text-align: center;
    color: black;
}

.container {
    margin-top: 75px;
}

body {
    background-image: url("img/embossed-diamond.png")
}